<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Defense in depth: directRelease must remain non-billing even if a
         future shared dependency happens to contribute this permission. -->
    <uses-permission
        android:name="com.android.vending.BILLING"
        tools:node="remove" />
</manifest>
